body{
    font-size: 20px;
}

/* h1, h2{
    text-align: center;
}  */
.btn{
    background-color: aqua;
    padding-right: 20px;
    margin-right: 10px;
}
main{
    margin: 0px auto;
    overflow: auto;
    text-align: center;
}